.booking-calendar {
  display: flex;
  align-items: center;
  justify-content: center;

  &, .calendar-wrapper {
    min-width: 80%;
  }

  .page-details {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .calendar-top-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.calendar-agency-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;

  .calendar-agency-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .agency-image {
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  .agency-info {
    display: none;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 3.2em;
    max-width: 370px;
    white-space: nowrap;
  }

  .selected-book-user {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .calendar-available-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar-available-slots {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .available-slot {
      & > a {
        padding: 10px;
      }

      &.active {
        .hover\:text-white {
          --tw-text-opacity: 1;
          color: rgb(255 255 255 / var(--tw-text-opacity));
        }

        .hover\:bg-brand {
          background-color: var(--brand-color) !important;
        }
      }
    }
  }
}

.text-bookinghighlight {
  color: var(--booking-highlight-color);
}