.booking-calendar {
  display: flex;
  align-items: center;
  justify-content: center;

  &, .calendar-wrapper {
    min-width: 80%;
  }

  .page-details {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .calendar-top-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.calendar-agency-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;

  .calendar-agency-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .agency-image {
    margin-bottom: 8px;
    max-width: 50px;
  }

  .agency-image img {
    border-radius: 100%;
  }

  .selected-book-user {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .calendar-available-slots {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;

    .available-slot {
      &.active {
        .hover\:text-white {
          --tw-text-opacity: 1;
          color: rgb(255 255 255 / var(--tw-text-opacity));
        }

        .hover\:bg-brand {
          background-color: var(--brand-color) !important;
        }
      }
    }
  }
}

.text-bookinghighlight {
  color: var(--booking-highlight-color);
}